<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <th:block th:replace="~{layout/head :: react-cdn}" ></th:block>

</head>

<body>
    <div class="h-screen flex flex-col justify-between">
        <div>
            <div th:replace="~{layout/root :: root}"></div>
            <div class="flex flex-col px-6 gap-3">
                <!-- Content -->

                <section class="py-2 flex flex-col gap-2">

                    <div class="flex flex-col w-full border-opacity-50">
                        <div class="divider ">
                            <h1 class="text-xl text-center" th:text="${product.id == 0 || product.id == null ? 'Nuevo Producto' :'Editar producto'}" >Nuevo producto</h1>
                        </div>
                        <form th:action="${product.id == 0 || product.id == null ? '/product' :'/product/'+product.id}" class="w-full" th:object="${product}"
                            method="post">

                            <div class="form-control w-full">
                                <label class="label">
                                    <span class="label-text">Nombre del producto</span>
                                </label>
                                <input th:field="*{name}" type="text" placeholder="Type here" class="input input-bordered w-full" />
                                <p class=" text-red-400" th:if="${#fields.hasErrors('name')}"  th:errors="*{name}"></p>
                            </div>
                            <div class="flex flex-wrap gap-2">
                                <div class="form-control w-full max-w-xs">
                                    <label class="label">
                                        <span class="label-text">Precio del producto</span>
                                    </label>
                                    <input th:field="*{price}" step="0.01" type="number" min="0" placeholder="Type here"
                                        class="input input-bordered w-full max-w-xs" />
                                <p class=" text-red-400" th:if="${#fields.hasErrors('price')}"  th:errors="*{price}"></p>

                                </div>

                                <div class="form-control w-full max-w-xs">
                                    <label class="label">
                                        <span class="label-text">Stock del producto</span>
                                    </label>
                                    <input th:field="*{stock}" type="number" min="1" placeholder="Type here"
                                        class="input input-bordered w-full max-w-xs" />
                                <p class=" text-red-400" th:if="${#fields.hasErrors('stock')}"  th:errors="*{stock}"></p>


                                </div>
                            </div>
                            <div class="form-control w-full">
                                <label class="label">
                                    <span class="label-text">URL de imagen del producto</span>
                                </label>
                                <input th:field="*{img}" type="text" placeholder="Type here" class="input input-bordered w-full" />
                                <p class=" text-red-400" th:if="${#fields.hasErrors('img')}"  th:errors="*{img}"></p>
                            
                            </div>

                            <div class="flex flex-wrap gap-2">
                                <div class="form-control w-full max-w-xs">
                                    <label class="label">
                                      <span class="label-text">Categoria</span>
                                    </label>
                                    <select th:field="*{categoryId}" class="select select-bordered">
                                      <option disabled selected value="0">Pick one</option>
                                      <option 
                                      th:each="category : ${categories}" th:text="${category.name}" 
                                      th:value="${category.id}"
                                      >
                                      </option>
                                    </select>
                                    <p class=" text-red-400" th:if="${#fields.hasErrors('categoryId')}"  th:errors="*{categoryId}"></p>
                          
                                  </div>

                                  <div class="form-control w-[70%]">
                                    <label class="label">
                                      <span class="label-text">Provedor</span>
                                    </label>
                                    <select th:field="*{providerId}" class="select select-bordered">
                                      <option disabled selected value="0">Pick one</option>
                                      <option 
                                      th:each="provider : ${providers}" th:text="${provider.person.getFullName()}" 
                                      th:value="${provider.id}"
                                      >
                                      </option>
                                   
                                    </select>
                                    <p class=" text-red-400" th:if="${#fields.hasErrors('providerId')}"  th:errors="*{providerId}"></p>
                                
                                  </div>
                            </div>

                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">Detalle del producto</span>
                                </label>
                                <textarea th:field="*{detail}" class="textarea textarea-bordered h-24" placeholder=""></textarea>
                                <label class="label">
                                <p class=" text-red-400" th:if="${#fields.hasErrors('detail')}"  th:errors="*{detail}"></p>
                                
                            </div>
                            <div class="flex flex-wrap gap-2">
                                <button class="btn btn-active btn-primary">Guardar</button>
                                <button class="btn btn-active">Cancelar</button>
                            </div>
                        </form>
                    </div>

                </section>
            </div>

        </div>
        <div th:replace="~{layout/footer :: footer}">

        </div>
    </div>

</body>

</html>