<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <th:block th:insert="~{layout/head :: react-cdn}"></th:block>
</head>
<body>
    <div class="h-screen flex flex-col justify-between">
        <div>
            <div th:replace="~{layout/root :: root}"></div>
            <div class="flex flex-col px-6 gap-3">
                <!-- Content -->

                <section class="py-2 flex flex-col gap-2">

                    <form action="#" th:action="@{/product/buy}" method="post" th:object="${shop}">
                        <input hidden th:field="*{person}" />
                        <input hidden th:field="*{product}" />
                        <article class="flex gap-4">
                            <figure>
                                <img class="w-96" th:src="${product.img}" />
                            </figure>

                            <div class="flex flex-col w-full">

                                <h2 class="font-bold text-3xl" th:text="${product.name}">Product Name</h2>
                                <p th:text="${product.name}"></p>
                                <div class="divider"></div>
                                <p th:text="${product.detail}" ></p>
                                <p th:text="${product.price}"></p>
                                <p class="text-bold text-black"> Stock: <span th:text="${product.stock}"></span></p>

                                <div class="flex gap-2 w-full flex-wrap items-center justify-end">

                                    <div class="flex gap-4 items-center">
                                        <span class="text font-bold">Catindad :</span>
                                        <input id="ipt-count" class="w-36 bg-slate-50 p-2" type="number"
                                            th:field="*{count}" />
                                    </div>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')"   th:href="@{/product/update/{id}(id=${product.id})}" type="button" class="btn btn-active btn-warning btn-sm">
                                        Editar
                                    </a>
                                    <button type="submit" class="btn btn-active btn-sm btn-success">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                                            <path
                                                d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
                                        </svg> Comprar</button>
                                    <button id="btn-add" type="button" class="btn btn-success btn-active btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                        </svg>
                                        carrito
                                    </button>
                                </div>
                            </div>
                        </article>

                    </form>
                </section>
            </div>

        </div>
        <div th:replace="~{layout/footer :: footer}">

        </div>
    </div>
    <script th:inline="javascript" type="text/javascript">

        let added = false;

        let btn_add = document.getElementById('btn-add');

        let ipt_count = document.getElementById('ipt-count')

        const product = {
            id: /*[[${product.id}]]*/ 0,
            img: /*[[${product.img}]]*/ "",
            name: /*[[${product.name}]]*/"",
            price: /*[[${product.price}]]*/ 0.00,
            total: 0.0,
            count: 1
        }

        btn_add.addEventListener('click', handlerAddToCart);
        ipt_count.addEventListener('change', handlerChangeCount);

        function handlerChangeCount(e) {

            product.count = e.target.value;

            if (!added) return;

            addProduct();

        }

        function handlerAddToCart() {

            if (added) removeProduct();
            else addProduct();

            btn_add.textContent = added ? 'Quitar' : 'Carrito';

        }

        function addProduct() {

            let items = getItemsCart()

            let idx = items.findIndex((v) => v.id == product.id);

            if (idx >= 0) {
                items[idx].total += product.price;
                items[idx].count++;
            }

            else {
                product.total = product.price;
                product.count = 1;
                items.push(product);
            }

            localStorage.setItem('shop-cart', JSON.stringify(items));

            window.dispatchEvent(new Event('storage'));

            added = true;
        }


        function removeProduct() {

            let items = getItemsCart();

            let updated = items.filter((v) => v.id != product.id);

            localStorage.setItem('shop-cart', JSON.stringify(updated));

            added = false;

            window.dispatchEvent(new Event('storage'));

        }

        function getItemsCart() {
            let items = [];

            let str = localStorage.getItem("shop-cart");

            items = !str ? items : JSON.parse(str);

            return items;
        }

    </script>
</body>

</html>