<div th:fragment="drawer" class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <!-- Page content here -->
    </div> 
    <div class="drawer-side">
      <label for="my-drawer" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
        <!-- Sidebar content here -->
        <li><a th:href="@{/}" >Home</a></li>
        <li><a th:href="@{/product/search}">Products</a></li>
        <li><a th:href="@{/shopping/shop-car}">Shop car</a></li>
        <li><a th:href="@{/shopping/purchases}" >Purchases</a></li>

      </ul>
    </div>
</div>