<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error page</title>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<div class="h-screen flex flex-col items-center justify-center">
    <!-- <h1 th:text="${httpStatus + httpStatus.reasonPhrase}">404</h1> -->
    <h1 class="text-9xl text" th:text="${status}"></h1>
    <p th:text="${error}">Error java.lang.NullPointerException</p>
    <a class="link link-primary" href="index.html" th:href="@{/}">Back to Home Page</a>
</div>
</body>

</html>