<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <th:block th:replace="~{layout/head :: react-cdn}"></th:block>

</head>

<body>
    <div class="h-screen flex flex-col justify-between">
        <div>
            <div th:replace="~{layout/root :: root}"></div>
            <div class="flex flex-col px-6 gap-3">
                <!-- Content -->

                <section class="py-2 flex flex-col gap-2">

                    <div class="flex flex-col w-full border-opacity-50">
                        <div class="divider ">
                            <h1 th:text="${person.id == 0 || person.id==null ? 'Nueva Persona' : 'Editar Persona'}"
                                class="text-xl text-center"></h1>
                        </div>
                        <form th:action="${person.id == 0 || person.id==null ? '/person' : '/person/' + person.id}"
                            th:object="${person}" class="w-full" method="post">

                            <div class="flex flex-wrap gap-2">
                                <div class="form-control w-[49.5%]">
                                    <label class="label">
                                        <span class="label-text">Nombre Persona</span>
                                    </label>
                                    <input th:field="*{names}" type="text" placeholder="Type here"
                                        class="input input-bordered w-full" />
                                <p class=" text-red-400" th:if="${#fields.hasErrors('names')}"  th:errors="*{names}"></p>

                                </div>

                                <div class="form-control w-[49.5%]">
                                    <label class="label">
                                        <span class="label-text">Apellido persona</span>
                                    </label>
                                    <input th:field="*{lastnames}" type="text" placeholder="Type here"
                                        class="input input-bordered w-full" />
                                <p class=" text-red-400" th:if="${#fields.hasErrors('lastnames')}"  th:errors="*{lastnames}"></p>
                                        
                                </div>
                            </div>
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">Email</span>
                                </label>
                                <input th:field="*{email}" type="email" placeholder="Type here"
                                    class="input input-bordered w-full" />
                                <p class=" text-red-400" th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"></p>

                            </div>

                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">Identificacion</span>
                                </label>
                                <input th:field="*{dni}" type="text" placeholder="Type here"
                                    class="input input-bordered w-full" />
                                <p class=" text-red-400" th:if="${#fields.hasErrors('dni')}"  th:errors="*{dni}"></p>

                            </div>

                            <div class="flex flex-wrap pt-2 gap-2">
                                <button class="btn btn-active btn-primary">Guardar</button>
                                <button class="btn btn-active">Cancelar</button>
                            </div>
                        </form>
                    </div>

                </section>
            </div>

        </div>
        <div th:replace="~{layout/footer :: footer}">
        </div>
    </div>

</body>

</html>