<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <th:block th:replace="~{layout/head :: react-cdn}" ></th:block>
</head>

<body>
    <div class="h-screen flex flex-col justify-between">
        <div>
            <div th:replace="~{layout/root :: root}"></div>
            <div class="flex flex-col px-6 gap-3">
             <!-- Content -->

                <section class="py-2 flex flex-col gap-2">
                    
                    <div class="flex flex-col w-full border-opacity-50">
                        <div class="divider ">
                            <h1 class="text-xl text-center"><th:block th:text="${purchase.invoice}" ></th:block> </h1>
                        </div>
                    </div>
                    <div class="overflow-x-auto">
                        <table class="table  ">
                          <!-- head -->
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Cantidad</th>
                              <th>Precio Unitario</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- row 1 -->
                            <tr th:each="productSale : ${purchase.productSalesList}" >
                              <td>
                                <div class="flex items-center space-x-3">
                                  <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                      <img th:src="${productSale.product.img}" th:alt="${productSale.product.img}" />
                                    </div>
                                  </div>
                                  <div>
                                    <div class="font-bold" th:text="${productSale.product.name}" >Hart Hagerty</div>
                                    <div class="text-sm opacity-50">United States</div>
                                  </div>
                                </div>
                              </td>
                              <td th:text="${productSale.count}" >
                                Zemlak, Daniel and Leannon
                              </td>
                              <td th:text="${productSale.product.price}">Purple</td>
                          
                            </tr>
                        
                          </tbody>
                          <!-- foot -->
                          <tfoot>
                            <tr className="font-bold text-black"> 
                              <th></th>
                              <th>Total compra</th>
                              <th th:text="${purchase.Total}" ></th>
                            </tr>
                          </tfoot>
                          
                        </table>
                      </div>

                </section>
            </div>

        </div>
        <div th:replace="~{layout/footer :: footer}">

        </div>
    </div>

</body>

</html>