<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <th:block th:replace="~{layout/head :: react-cdn}"></th:block>
</head>

<body>
  <div class="h-screen flex flex-col justify-between">
    <div>
      <div th:replace="~{layout/root :: root}"></div>
      <div id="shop-cart" class="flex flex-col px-6 gap-3">

        <!-- Content -->

      </div>
    </div>
    <div th:replace="~{layout/footer :: footer}">

    </div>
  </div>

  <!----------------------SectionCartComponent-------------------------->

  <script th:fragment="nav-cart-component" type="text/babel" data-presets="react,stage-3">

    const { useState, useEffect } = React;


    const CartSection = () => {

      return (
        <section className="py-2 flex flex-col gap-2">

          <div className="flex flex-col w-full border-opacity-50">
            <div className="divider ">
              <h1 className="text-xl text-center">Carrito de compras</h1>
            </div>
          </div>
          <div className="overflow-x-auto">
            <Items />
          </div>
        </section>);
    }

    const cart_section_root = ReactDOM.createRoot(document.getElementById("shop-cart"));

    cart_section_root.render(<CartSection />);

  </script>


  <!----------------------Items-------------------------->

  <script th:fragment="nav-cart-component" type="text/babel" data-presets="react,stage-3">

    const STATUS = {
      LOAD: 'LOAD',
      SUDMITING: 'SUBMITING',
      OK: 'OK'
    }


    const Items = () => {

      const [total, setTotal] = useState();
      const [items, setItems] = useState([]);

      const [status, setStatus] = useState(STATUS.OK);

      useEffect(() => {

        let str = localStorage.getItem("shop-cart");

        if (!str) return;

        let items_storage = JSON.parse(str);

        setItems(items_storage);

        setTotal(getTotal(items_storage));


      }, [])

      return (
        <table className="table">
        <thead>
          <tr>
            <th>
              <label>
                <input type="checkbox" className="checkbox" />
              </label>
            </th>
            <th>Name</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Total</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>

          {items.map((v, i) => <Item
            key={i} product={v}
            handleDelete={function () { handleDelete(v.id) }}
            index={i}
            handleCount={handleCount} />)}

        </tbody>
        <tfoot>
          <tr className="font-bold text-black">
            <th></th>
            <th></th>
            <th></th>
            <th>Total Compra</th>
            <th>{total}</th>
            <th>
              <button
                onClick={handleBuy}
                className="btn btn-ghost btn-xs text-green-500">
                {status == STATUS.SUDMITING ? <span className="loading loading-spinner text-success"></span> : 'Comprar'
                }</button>
            </th>
          </tr>
        </tfoot>

      </table>
      )

      function handleDelete(id) {

        setItems(function (i) {

          let items = i.filter(v => v.id != id);

          localStorage.setItem("shop-cart", JSON.stringify(items))

          setTotal(getTotal(items))

          window.dispatchEvent(new Event('storage'));

          return [...items]

        });
      }

      function handleCount(idx, event) {

        let value = parseInt(event.target.value);

        setItems(t => {

          let updated = items;

          updated[idx].total = updated[idx].price * value;
          updated[idx].count = value;

          localStorage.setItem('shop-cart', JSON.stringify(updated))

          setTotal(getTotal(updated))

          window.dispatchEvent(new Event('storage'))

          return [...updated]

        });

      }

      function handleBuy() {

        if (items.length == 0) return;

        setStatus(STATUS.SUDMITING);

        fetch('/sales/buy/cart/1', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(items)
        }).then(res => {
          if (res.status != 200) alert(res.statusText);
          localStorage.setItem("shop-cart", "[]");
          setItems([]);
          setTotal(0);
          setStatus(STATUS.OK)
          window.dispatchEvent(new Event('storage'));


        }).catch(err => {

          alert(JSON.stringify(err));
        })


      }

      function getTotal(items) {

        let total = 0;

        for (let item of items) total += item.total;

        return total.toFixed(2);
      }

    }

  </script>

  <!----------------------Item-------------------------->

  <script th:fragment="nav-cart-component" type="text/babel" data-presets="react,stage-3">
    const Item = ({ product, handleDelete, handleCount, index }) => {
      return (
        <tr>
          <th>
            <label>
              <input type="checkbox" className="checkbox" />
            </label>
          </th>
          <td>
            <div className="flex items-center space-x-3">
              <div className="avatar">
                <div className="mask mask-squircle w-12 h-12">
                  <img src={product.img} alt={'Image ' + product.name} />
                </div>
              </div>
              <div>
                <div className="font-bold">
                  <a className="cursor-pointer hover:text-gray-700" href={'/product/' + product.id} >{product.name}</a>
                </div>
                <div className="text-sm opacity-50">United States</div>
              </div>
            </div>
          </td>
          <td>
            <input
              className="outline:none w-12"
              type='number'
              onChange={function (e) { handleCount(index, e) }}
              value={product.count} />
          </td>
          <td>{product.price}</td>
          <td>{product.total}</td>
          <th>
            <button
              onClick={handleDelete} className="btn btn-ghost btn-xs text-red-500">Eliminar</button>
          </th>
        </tr>
      )
    }
  </script>
</body>

</html>